
button {
    margin-top: 16px;
    background: green;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.clear-btn {
    margin-top: 16px;
    background: lightblue;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.item.completed {
    background-color: red;
    color: white;
    text-decoration: line-through;
    width: 20%;
  }
  