.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
h1 {
    font-size: 2rem;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    width: 100%;
    padding: 5px;
    margin: 2%;
}
button {
    margin-top: 16px;
    background: green;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.clear-btn {
    margin-top: 16px;
    background: lightblue;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.item.completed {
    background-color: red;
    color: white;
    text-decoration: line-through;
    width: 100%;
  }
  